<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/about.css">
    <title>Sobre Nós</title>
</head>
<body>
    <header>
        <h1>Sobre Nós</h1>
    </header>
    <main>
        <div class="container">
            <h2>Nossa História</h2>
            <p>Somos uma equipe apaixonada por música e tecnologia, dedicada a trazer as melhores experiências musicais para você.</p>
        </div>
        <div class="container">
            <h2>Nossa Missão</h2>
            <p>Nossa missão é proporcionar um espaço onde amantes da música possam explorar, descobrir e desfrutar de uma variedade de gêneros e artistas.</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Nosso Site. Todos os direitos reservados.</p>
    </footer>
    <script src="../scripts/about.js"></script>
</body>
</html>
