<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../imgs/favicon.ico" type="image/x-icon">
  <title>Vídeo de Background</title>
  <link rel="stylesheet" href="../style/background.css">
</head>
<body>
  <div class="background">
    <video id="video" autoplay loop muted class="video-bg">
      <source src="../videos/Come Along With Me.mp4" type="video/mp4">
    </video>
    <div class="content">
      <h1>Seu Título</h1>
      <p>Seu texto descritivo</p>
      <button id="muteButton">Mutar/Desmutar</button>
      <button id="pauseButton">Pausar</button>
    </div>
  </div>
  <script src="../scripts/bg.js"></script>
</body>
</html>
