<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/home.css">
    <title>Nosso Site</title>
</head>
<body>
    <header>
        <h1>Nosso Site</h1>
        <p>Bem-vindo ao nosso site futurístico!</p>
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="/bests">Bests</a></li>
            <li><a href="/ip">IP</a></li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <h2>Sobre Nós</h2>
            <p>Descubra mais sobre a nossa incrível equipe e nossa missão de criar soluções inovadoras.</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Nosso Site. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
