<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/home.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Bem-vindo ao Nosso Site</h1>
        <p>Explorando o Melhor Conteúdo Online</p>
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/music">Música</a></li>
            <li><a href="/api">API</a></li> 
            <li><a href="/bests">Bests</a></li> 
            <li><a href="/ip">IP</a></li> 
            <li><a href="/about">Sobre Nós</a></li>
            <li><a href="/contact">Contato</a></li>
        </ul>
    </nav>
    <main>
        <h2>Descubra o que Oferecemos</h2>
        <p>Navegue pelo nosso site para encontrar uma ampla variedade de músicas, recursos e informações interessantes. Temos uma coleção diversificada de músicas para todos os gostos.</p>
        <h2>Fique Conectado</h2>
        <p>Acompanhe nossas atualizações e novidades. Inscreva-se em nossa newsletter para receber as últimas informações sobre lançamentos de músicas e eventos.</p>
    </main>
    <footer>
        <p>&copy; 2023 Nosso Site. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
