<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/Ip</title>
    <link rel="stylesheet" href="/style/global.css">
</head>
<body>
    <div class="spoiler-container" onclick="toggleSpoiler(this)">
        Click to show
        <div class="spoiler-content" id="ip">
            Hello, this is your IP address: <span id="ip-address-placeholder"></span>
        </div>
    </div>

    <script src="../scripts/ip.js"></script>
</body>
</html>
