<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Faça Login</h1>
    </header>
    <main>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Nome de Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2023 Nosso Site. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
