<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/player.css">
    <title>Music Player</title>
</head>
<body>
    <div class="music-player">
        <div class="music-info">
            <div class="music-thumb"></div>
            <div class="music-details">
                <h2 class="music-title">Nome da Música</h2>
                <p class="music-artist">Artista</p>
            </div>
        </div>
        <audio class="audio"></audio>
        <div class="music-controls">
            <button class="control-button prev-button">Anterior</button>
            <button class="control-button play-button">Tocar</button>
            <button class="control-button next-button">Próxima</button>
        </div>
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
    <script src="../scripts/player.js"></script>
</body>
</html>
