body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
}
.icon {
    font-size: 100px;
    margin-bottom: 20px;
}
.message {
    font-size: 24px;
    color: #555;
}